# Environment & Config
python-dotenv
pyyaml

# Data Handling
pandas
numpy

# Web Scraping
requests
selenium
pdfplumber

# Data Processing & Modeling
scikit-learn
statsmodels

# Visualization
matplotlib
seaborn

# Utility
tqdm
joblib

# Jupyter Support (for notebooks and EDA)
notebook

